body{
    font-size: 16px;
}

.icon-bottom {
    display: block;
    width:24px ;
    height:24px ;
    background-image: url(./icon/header-icon.png);
    background-repeat: no-repeat;
   
}
.text-bottom,
.text-pg {
    font-size: 16px;
    color:#095682 ;
}
.text-pg {
    font-weight: 700;
   
}
.countertop-item{
    margin-bottom: 5px;
}
.countertop-texts{
  font-style: italic ;
  color: #095682;

}

.countertop-data {
 border-radius: 6px;
padding: 16px 5px;
background-color:#FEF4EF; 

}
.btn-countertop,
.data{
    font-size: 15px;
    color: #095682;
}

.item-list{
    display: flex;
    align-items: center;
    gap: 10px;

}
.item-list:before {
    content: '';
    display: block;
    min-width:24px ;
    height:24px ;
    background-image: url(./icon/icon-arrow.png);
    background-repeat:no-repeat ;
    background-position: center;
    
}

@media (max-width: 1000px){
    .countertop-content{
    flex-direction: column;
    }
}

@media (max-width: 540px){
    .countertop-data {
 border-radius: 6px;
padding: 8px 5px;

}
.btn-countertop,
.data,
.text-bottom,
.text-pg{
    font-size: 10px;
    
}
.box-texts{
     flex-direction: column-reverse;
}
body{
    font-size: 12px;
}
}
/**************************forma********************/
.forma{
    background-image:url(./img/form-bg.png) ;
    background-repeat:no-repeat ;
    min-height: auto;
    padding: 32px 0;
}
.subscription-form {
  border-radius: 6px;
padding: 20px 50px;
max-width: 1300px;
min-height: 251px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.7);
  }

  

  .subscription-form p {
    margin-bottom: 20px;
    color: #555;
  }

  .form-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   align-items: center;
   justify-content: center;
  }

  .form-row input[type="text"],
  .form-row input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
  }

  .form-row button {
    padding: 10px 20px;
   
    background-color:#F89062;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .form-row button:hover {
    background-color:#095682;
  }

  @media (max-width: 600px) {
    .form-row {
      flex-direction: column;
    }
    .form-row input
    {
      width: 100%;
    }
    .info-title{
        font-size: 18px;
    }.subscription-form {
  border-radius: 6px;
padding: 10px 20px;}
.forma-text{
    font-size: 8px;
}


  }
